/* CSS */
        
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


/* CSS cabecera */
.cabecera {
    background-color: black;
    margin-bottom: 5px;
}

.logo_header{
    margin-left: 3%;
    width: 25%;
}

li{
    float: left;
    list-style: none;
    padding: 12px;
    }

nav{
    float: right;
    margin-top: 30px;
    margin-right: 5%;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

li:hover a{
    color: rgb(247, 203, 152);
}

/* CSS menu */

.mainmenubtn {
background-color: skyblue;
color: white;
border: none;
cursor: pointer;
padding:20px;
margin-top:20px;
}
.mainmenubtn:hover {
background-color: rgb(247, 203, 152);

}
.dropdown {
position: relative;
display: none;
}

.dropdown-child {
display: none;
background-color: grey;
min-width: 40px;
position: center;
}

.dropdown-child a {
color: white;
padding: 10px;
text-decoration: none;
display: inline;
}

.dropdown:hover .dropdown-child {
display: inline;
}


/* CSS cuerpo de la página */
section {
    border: 1px solid #CCC;
    width: 75%;
    float: left;
    color: #000;
    background-color: rgb(238, 238, 238);
    margin-bottom: 5px;
    text-indent: 10px;
    
}

article {
    font-size: medium;
}

aside {
    width: 24%;
    height: 200px;
    float: right;
    background-color:#fff;
    color: #fff;
}

.article {
    color: black;
}

.article_header {
    color: black;
    margin-top: 50px;
}

 /* CSS formulario */
fieldset{
    margin-left: 5px;
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 10px;
}



/* CSS pie de página */
.pie {
    background-color: black;
    height: 150px;
    clear: both;
    color: white;
}

.copyright {
    text-align: center;
}

.RRSS {
    float: right;
    width: 2%;
    align-content: left;
    padding: 5px;
}

.avisos {
    text-align: center;
    float:none;
}

.boton_masinfo {
    align-items: left;
    margin-bottom: 20px;
}

footer {
    float:right;
}

/* CSS de áreas de actuación */
.article {
    color: black;
}

.article_header {
    color: black;
    margin-top: 50px;
}

.actuacion {
    color: black;
    width: 100%;
}

.imagen_derecha {
    float: right;
    width: 35%;
}

.imagen_izquierda {
    float: left;
    width: 35%;
}

.caja_texto_areas{
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(214, 210, 210);
    height: 300px;
    color: black;
    padding-top: 10px;
}


 /* CSS quienes somos */
.telefono {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
}

.caja_texto{
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(214, 210, 210);
    height: 130px;
    color: black;
}

.tamaño_imagen {
    width: 55%;
}




/* CSS RESPONSIVO */
@media screen and (max-width: 1300px) {
    main {
        width: 94%;
    }
    section {
        width: 65%;
    }
    aside {
        width: 30%;
    }
}



